.App {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.nav-bar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  background-color: whitesmoke;
}

.logo {
  font-family: fantasy;
  font-size: 30px;
  padding-top: 5px;
}

.nav-bar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 275px;
}

a {
  color: black;
  text-decoration: none;
  height: 20px;
  font-size: 10px;
  padding-top: 10px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;  
}

mark {
  background-color: transparent;
  color: darkcyan;
  font-weight: bold;
}

.landing-box {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
  color: darkcyan;
  font-size: 40px;
  text-align: center;
}

.product-box {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
  color: darkorange;
  font-size: 40px;
  text-align: center;
}

.contact-box {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
  color: darkolivegreen;
  font-size: 40px;
  text-align: center;
}

.form-container {
  background-color: #bef2ef;
  height: calc(100vh - 50px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d3e4ea;
  height: 450px;
  width: 400px;
  margin-bottom: 30px;
}

.form-box > img {
  height: 275px;
  border: 2px solid black;
}

.meme-title-input {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
}

.url-input {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  margin-top: 20px;
}

.meme-dashboard{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightsteelblue;
  width: 100%;
  height: calc(100vh - 50px);
  overflow: scroll;
}

.add-meme-link {
  font-size: 20px;
  box-shadow: 5px 5px black;
  border-radius: 10px;
  height: 40px;
  width: 200px;
  text-align: center;
  background-color: lightpink;
  color: white;
  font-weight: bold;
  margin: 20px 0 0 0;
  padding-bottom: 10px;
}

.memes-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px;
}

.meme-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d3e4ea;
  height: 375px;
  width: 300px;
  margin-bottom: 30px;
}

.meme-box > img {
  height: 275px;
  border: 2px solid black;
}

.meme-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.heart {
  background-color: red;
  height: 12px;
  transform: rotate(-45deg);
  width: 12px;
}

.heart:before,
.heart:after {
  content: '';
  background-color: red;
  border-radius: 50%;
  height: 12px;
  position: absolute;
  width: 12px;
}

.heart:before {
  top: -6px;
  left: 0;
}

.heart:after {
  top: 0;
  left: 6px;
}

.heart-image {
  width: 20px;
}

.button-container {
  display: flex;
  width: 80%;
  height: 20px;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.meme-buttons {
  width: 90px;
}

.add-edit-button {
  width: 120px;
}