.App {
  width: 100%;
  height: 100vh;
}

.nav-bar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  background-color: whitesmoke;
}

.nav-bar-links {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;  
}

mark {
  background-color: transparent;
  color: darkcyan;
  font-weight: bold;
}

.landing-box {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
  color: darkcyan;
  font-size: 40px;
  text-align: center;
}

.product-box {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
  color: darkorange;
  font-size: 40px;
  text-align: center;
}

.contact-box {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
  color: darkolivegreen;
  font-size: 40px;
  text-align: center;
}